:host {
    padding-bottom: 16px;

    .kitchens {
        display: flex;
        justify-content: center;

        mat-button-toggle-group {
            display: flex;
            border: none;
            max-width: 95%;
            overflow-x: auto;

            .kitchenBtn {
                margin-left: 3px;
                margin-right: 3px;
                border: none;
                border-radius: 25px;
                text-align: center;

                &:first-child {
                    width: 35px;
                }
            }

            .mat-button-toggle-checked {
                color: white;
                background-color: black;
            }
        }
    }
}