:host {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .headArea{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .inputs{
        display: flex;
        .inputColumn {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
    
            div {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                gap: 3px;
    
                p {
                    margin: 0;
                }
    
                input {
                    width: 300px;
                    border-radius: 8px;
                    border: 1px solid rgba(0, 0, 0, 0.5);
                    padding-left: 8px;
                    cursor: pointer;
                    outline: none;
                    height: 35px;
                    font-size: 20px;
                }
    
                select {
                    width: 200px;
                    border-radius: 8px;
                    border: 1px solid rgba(0, 0, 0, 0.5);
                    padding-left: 8px;
                    cursor: pointer;
                    outline: none;
                    height: 35px;
                    font-size: 20px;
    
                    color: rgba(0, 0, 0, 0.5);
                }
    
    
            }
        }
    }

    div {
        width: 100%;
        display: flex;
        justify-content: center;

        button {
            width: 200px;
            height: 35px;
            border: none;
            border-radius: 8px;
        }
    }
}