<div class="headArea">
    <h2>
        Conditions
    </h2>
    <mat-icon (click)="return()">arrow_back</mat-icon>
</div>
<div class="inputs">
    <div class="inputRows">
        <div class="inputCells">
            <div class="label">Enter your delivery costs</div>
            <input type="number" placeholder="delivery costs" [(ngModel)]="deliveryCost">
        </div>
        <div class="inputCells">
            <div class="label">Enter your rating</div>
            <select name="rating" id="rating" [(ngModel)]="rating">
                <option style="display: none;" value="" disabled selected>Rating</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
    </div>
    <div class="inputRows">
        <div class="inputCells">
            <div class="label">Enter your delivery time</div>
            <input type="number" placeholder="delivery time" [(ngModel)]="deliveryTime">
        </div>
        <div class="inputCells">
            <div class="label">Enter your minimum order amount</div>
            <input type="number" placeholder="minimum order amount" [(ngModel)]="minOrder">
        </div>
    </div>
</div>
<div>
    <button (click)="saveData()" routerLink="../restaurantMenu" class="orangeBG">
        Next
    </button>
</div>