<h2>
    Conditions
</h2>
<div class="inputs">
    <div class="inputColumn">
        <div>
            <p>Enter your rating</p>
            <select name="rating" id="rating" [(ngModel)]="rating">
                <option style="display: none;" value="" disabled selected>Rating</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div>
            <p>Enter your delivery costs</p>
            <input type="number" placeholder="delivery costs" [(ngModel)]="deliveryCost">
        </div>

    </div>
    <div class="inputColumn">

        <div>
            <p>Enter your delivery time</p>
            <input type="number" placeholder="delivery time" [(ngModel)]="deliveryTime">
        </div>
        <div>
            <p>Enter your min. order amount</p>
            <input type="number" placeholder="minimum order amount" [(ngModel)]="minOrder">
        </div>
    </div>
</div>

<div>
    <button (click)="saveData()" class="orangeBG">
        Next
    </button>
</div>