<mat-icon (click)="closeBasket()" class="backArrow">
    arrow_back
</mat-icon>
<div class="stickyContainer">
    <h2>Basket</h2>
    <div *ngIf="allOrders.length == 0">
        <mat-icon>lock</mat-icon>
        <div>
            Add some delicious dishes from the menu and order your food.
        </div>
    </div>
    <div class="orderList" *ngIf="allOrders.length !== 0">
        <div class="order" *ngFor="let order of allOrders ; let i = index">
            <div class="upperPart">
                <div class="leftPart">
                    <div class="amount">
                        {{ order.amount }}
                    </div>
                    <div class="nameAndDescr">
                        <div class="name" (click)="changeOrder(order ,i)">{{ order.dishName }}</div>
                        <div class="describtion">{{ order.portionPrices[order.pickedPortionNr].portionTag }}
                            <span>{{ order.pickedExtrasText }}</span>
                        </div>
                    </div>
                </div>
                <div>
                    {{ order.priceForOrderString }}
                </div>
            </div>
            <div class="lowerPart">
                <button (click)="removeOne(i)" class="amountBtn">
                    <mat-icon>
                        remove
                    </mat-icon>
                </button>
                <button (click)=" addOne(i)" class="amountBtn">
                    <mat-icon>
                        add
                    </mat-icon>
                </button>
            </div>
        </div>
        <div *ngIf="!minOrderReached" class="minOrderNot">
            <div>
                Amount needed to reach the minimum order value
            </div>
            <div>
                {{ minOrderDiffString }}
            </div>
        </div>
        <div *ngIf="!minOrderReached" class="minOrder">
            Unfortunately you can't order yet. The minimum order value is {{ minOrderString }}.
        </div>
        <div class="bill">
            <div class="slot">
                <div>Subtotal</div>
                <div>{{ subTotalString }}</div>
            </div>
            <div class="slot">
                <div>Delivery cost</div>
                <div>{{ deliveryCostString }}</div>
            </div>
            <div class="slot">
                <div>Total</div>
                <div>{{ totalString }}</div>
            </div>
        </div>
        <button (click)="checkOut()" class="payBtn"
            [ngClass]="{'active' : minOrderReached , 'inActive' : !minOrderReached}">
            Pay {{ totalString }}
        </button>
    </div>
</div>