<header>
  <div class="main">
    <div routerLink="/" (click)="resetHeader()" class="logo">
      <img src="./../assets/img/logo/pizza-deliver.png" alt="">
    </div>
    <div class="deliveryOptions" *ngIf="doActive">
      <button mat-raised-button class="address">
        <mat-icon fontIcon="location_on"></mat-icon>
        <input type="text" [(ngModel)]="address"></button>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle checked (click)="deliver()" value="bold">
          <mat-icon [ngClass]="{orange : delivery}" fontIcon="motorcycle"></mat-icon>
          Delivery
        </mat-button-toggle>
        <mat-button-toggle (click)="pickUpFkt()" value="bold">
          <mat-icon [ngClass]="{orange : pickUp}" fontIcon="pan_tool"></mat-icon>
          Pick up
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="settings">
      <button [matMenuTriggerFor]="menu" class="langBtn">
        <img [src]="lang">
      </button>
      <mat-menu #menu="matMenu">
        <button  mat-menu-item (click)="changeLanguage('german')">deutsch <img class="flags" src="./../assets/img/languages/germany.png"></button>
        <button  mat-menu-item (click)="changeLanguage('english')">english <img class="flags" src="./../assets/img/languages/united-kingdom.png"></button>
      </mat-menu>
      <button (click)="openDialog()" class="menuBtn">
        <mat-icon fontIcon="menu"></mat-icon>
      </button>
    </div>
  </div>
  <div *ngIf="kitActive" class="kitchens">
    <mat-button-toggle-group>
      <mat-button-toggle class="kitchenBtn" [checked]="true ? i == 0 : false" *ngFor="let k of kitchens; let i = index" value="{{ k }}" (click)="changeKitchen(k)">{{ k }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</header>
<router-outlet ></router-outlet>
<app-scroll-top-button *ngIf="scrolled"></app-scroll-top-button>