<header>
  <div class="main">
    <div class="logo">
      <img src="./../assets/img/logo/pizza-deliver.png" alt="">
    </div>
    <div class="deliveryOptions">
      <button mat-raised-button class="address">
        <mat-icon fontIcon="location_on"></mat-icon>
        <input type="text" [(ngModel)]="address"></button>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle checked (click)="deliver()" value="bold">
          <mat-icon [ngClass]="{orange : delivery}" fontIcon="motorcycle"></mat-icon>
          Delivery
        </mat-button-toggle>
        <mat-button-toggle (click)="pickUpFkt()" value="bold">
          <mat-icon [ngClass]="{orange : pickUp}" fontIcon="pan_tool"></mat-icon>
          Pick up
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="settings">


      <button mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>

      <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu> -->


      <!-- <button [matMenuTriggerFor]="menu" class="langBtn">
        <img src="./../assets/img/languages/germany.png">
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>deutsch</button>
        <button mat-menu-item>english</button>
      </mat-menu>
      <button class="menuBtn">
        <mat-icon fontIcon="menu"></mat-icon>
      </button> -->
    </div>
  </div>
  <div class="kitchens">
    <mat-button-toggle-group>
      <mat-button-toggle class="kitchenBtn" *ngFor="let k of kitchens" value="{{ k }}" (click)="showValue(k)">{{ k }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</header>
<router-outlet></router-outlet>