<mat-card routerLink="/restaurant" class="mainCard" *ngFor="let restaurant of restaurantS">
    <div class="structuralContainer" *ngIf="restaurant.rating >= ratingFilter
         && restaurant.minOrder <= orderAmount 
         && includesKitchen(restaurant)
         && includesSearch(restaurant)">
        <div class="logoCard" >
            <img class="logos" src="{{ restaurant.logo }}" alt="">
        </div>
        <img class="mainImage" mat-card-image src="{{ restaurant.img }}">
        <mat-card-content>
            <mat-card-title>{{ restaurant.name }}</mat-card-title>
            <div>
                <img class="symbols" src="./../../assets/img/symbols/star.png">
                {{ restaurant.rating }}
                <img class="symbols" src="./../../assets/img/symbols/lock.png">
                min. {{ restaurant.minOrderString }}
            </div>
            <div>
                <img class="symbols" src="./../../assets/img/symbols/clock.png">
                {{ restaurant.deliveryTime }} min
                <img class="symbols" src="./../../assets/img/symbols/bike.png">
                {{ restaurant.deliveryCostString }}
            </div>
        </mat-card-content>
    </div>
</mat-card>
