:host {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 16px;

    .mainCard {
        display: flex;
        flex-direction: row;
        cursor: pointer;

        .structuralContainer {
            display: flex;
            flex-direction: row;

            .mainImage {
                width: 287px;
                height: 136px;
                object-fit: cover;
            }

            .logoCard {
                position: absolute;
                left: 10px;
                top: 10px;
                background-color: white;
                border-radius: 8px;
                box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.75);
                height: 40px;
                width: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;

                .logos {
                    height: 16px;
                    width: 16px;
                }
            }

            mat-card-content {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .conditions {
                    div {
                        display: flex;
                        align-items: center;
                        gap: 3px;

                        .symbols {
                            height: 12px;
                            width: 12px;
                        }
                    }
                }
            }
        }
    }

    @media(max-width : 550px) {
        .mainCard {
            width: 100%;

            .structuralContainer {
                flex-direction: column;
                width: 100%;

                .mainImage {
                    width: 100%;
                    height: 200px;
                }

                main-card-content {
                    .conditions {
                        display: flex;
                    }
                }
            }
        }
    }
}