<mat-card *ngFor="let restaurant of restaurantS; let i = index" (click)="goToRestaurant(i)" class="mainCard" >
    <div class="structuralContainer" *ngIf="restaurant.rating >= ratingFilter
        && restaurant.minOrder <= orderAmount 
        && includesKitchen(restaurant)
        && includesSearch(restaurant)">
        <div class="logoCard" >
            <img class="logos" src="{{ restaurant.logoImgURL }}" alt="">
        </div>
        <img class="mainImage" mat-card-image src="{{ restaurant.backgroundImgURL }}">
        <mat-card-content>
            <mat-card-title>{{ restaurant.name }}</mat-card-title>
            <div class="conditions">
                <div>
                    <img class="symbols" src="./../../assets/img/symbols/star.png">
                    {{ restaurant.rating }}
                    <img class="symbols" src="./../../assets/img/symbols/lock.png">
                    min. {{ restaurant.minOrderString }}
                </div>
                <div>
                    <img class="symbols" src="./../../assets/img/symbols/clock.png">
                    {{ restaurant.deliveryTime }} min
                    <img class="symbols" src="./../../assets/img/symbols/bike.png">
                    {{ restaurant.deliveryCostString }}
                </div>
            </div>
        </mat-card-content>
    </div>
</mat-card>
