<div class="content">
    <div class="imgContainer">
        <img class="backgroundImg" src="{{ backgroundImg }}" alt="">
        <div class="logoCard">
            <img src="{{ logoImg }}" alt="" class="logImg">
        </div>
    </div>
    <div class="headArea">
        <h1>{{ name }}</h1>
        <div class="rating">
            <ngb-rating [max]="5" [rate]="rating" readonly="true"></ngb-rating>
        </div>
        <div class="conditions">
            <img class="symbols" src="./../../assets/img/symbols/lock.png">
            min. {{ minOrderString }}
            <img class="symbols" src="./../../assets/img/symbols/clock.png">
            {{ deliveryTime }} min
            <img class="symbols" src="./../../assets/img/symbols/bike.png">
            {{ deliveryCostString }}
        </div>
    </div>
    <div class="searchAndCategory">
        <div class="categorySelect" *ngIf="categoryInterface">
            <button mat-mini-fab class="greyBackground" (click)="switchToSearch()">
                <mat-icon>search</mat-icon>
            </button>
            <div class="categoriesContainer">
                <button mat-mini-fab *ngIf="adaptPanel" class="greyBackground">
                    <mat-icon>arrow_backward_los</mat-icon>
                </button>
                <div class="staticPanel" id="staticPanel">
                    <div class="shiftPanel" id="shiftPanel">
                        <div *ngFor="let category of menu" class="category" (click)="scrollTo(category.categorykey)"
                            [ngClass]="{'selected' : category.categorykey == currentCategory}">
                            {{ category.categorykey }}
                        </div>
                    </div>
                </div>
                <button mat-mini-fab *ngIf="adaptPanel" class="greyBackground">
                    <mat-icon>arrow_forward_los</mat-icon>
                </button>
            </div>
        </div>
        <div class="searchContainer" *ngIf="searchInterface">
            <mat-icon class="loupe" matPrefix>search</mat-icon>
            <input placeholder="Search for dishes etc." type="text" [(ngModel)]="search">
            <mat-icon class="cancel" (click)="cancelSearch()" matPrefix>cancel</mat-icon>
        </div>
    </div>
    <div class="menu">
        <div class="categoryBox" *ngFor="let category of menu; let c = index" id="{{ category.categorykey }}"
            #categoryBox>
            <h2>{{ category.categorykey }}</h2>
            <mat-card *ngFor="let dish of category.categoryItem; let d = index"
                [ngClass]="{'d-none' : includesSearch(dish) }" (click)="pickDish(dish)">
                <h3>{{ dish.dishName }}</h3>
                <p>{{ dish.dishDescribtion }}</p>
                <h3 class="priceTag">{{ dish.dishPriceAsString }}</h3>
                <h3 *ngIf="dish.multiplePortions" class="priceTag">{{ dish.portionPrices[0]['portionPriceString'] }}</h3>
                <button mat-mini-fab disabled>
                    <mat-icon>add</mat-icon>
                </button>
            </mat-card>
        </div>
    </div>
</div>
<app-basket></app-basket>