<mat-card>
    <h2 *ngIf="overview">My Restaurants</h2>
    <div *ngFor="let rest of myRestaurants; let i = index" (click)="showDetails(i)">
        <div class="restaurantSlot" @slideLeftOut @slideRightIn *ngIf="overview">
            {{ rest.name }}
        </div>
        <!-- <img src="./../../assets/img/restaurants/american.jpg" alt="">
        <img src="./../../assets/img/restaurantLogos/bull.png" alt=""> -->
    </div>

    <mat-card class="mainCard" [ngClass]="{'gradient': uploading}" @slideLeftIn @slideRightOut *ngIf="detailedView">
        <div class="logoCard">
            <img class="logos" src="{{ logoImg }}" alt="" (click)="changeLogo()">
        </div>
        <img class="mainImage" mat-card-image src="{{ backgroundImg }}" (click)="changeImg()">
        <mat-card-content>
            <div class="contentContainer">
                <mat-card-title (click)="changeName()">{{name }}</mat-card-title>
                <div>
                    <span (click)="changeCondition()">
                        <img class="symbols" src="./../../assets/img/symbols/star.png">
                        {{ rating }}
                    </span>
                    <span (click)="changeCondition()">
                        <img class="symbols" src="./../../assets/img/symbols/lock.png">
                        min. {{ minOrderString }}
                    </span>
                </div>
                <div>
                    <span (click)="changeCondition()">
                        <img class="symbols" src="./../../assets/img/symbols/clock.png">
                        {{ deliveryTime }} min
                    </span>
                    <span (click)="changeCondition()">
                        <img class="symbols" src="./../../assets/img/symbols/bike.png">
                        {{ deliveryCostString }}
                    </span>
                </div>
            </div>
            <div class="editDescribtion" *ngIf="changingName || changingImg || changingLogo" @slideLeftIn
                @slideRightOut>
                <input type="text" *ngIf="changingName" [(ngModel)]="copyName">
                <input type="text" *ngIf="changingImg" [(ngModel)]="copyImg">
                <input type="text" *ngIf="changingLogo" [(ngModel)]="copyLogo">
                <button (click)="saveChanges()" class="checkBtn orangeBG">
                    <mat-icon fontIcon="done"></mat-icon>
                </button>
            </div>
            <div class="editContainer" *ngIf="editActive" @slideLeftIn @slideRightOut>
                <div class="editCol">
                    <div class="editCell">
                        <select name="rating" id="rating" [(ngModel)]="copyRating">
                            <option style="display: none;" value="" disabled selected>Rating</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <span class="orange">Edit rating</span>
                    </div>
                    <div class="editCell">
                        <input type="number" [(ngModel)]="copyDeliveryTime">
                        <span class="orange">Edit delivery time</span>
                    </div>
                </div>
                <div class="editCol">
                    <div class="editCell">
                        <input type="number" [(ngModel)]="copyMinOrder">
                        <span class="orange">Edit minimum order amount</span>
                    </div>
                    <div class="editCell">
                        <input type="number" [(ngModel)]="copyDeliveryCost">
                        <span class="orange">Edit delivery costs</span>
                    </div>
                </div>
                <div class="btnCol">
                    <button (click)="saveChanges()" class="checkBtn orangeBG">
                        <mat-icon fontIcon="done"></mat-icon>
                    </button>
                </div>
            </div>
        </mat-card-content>
        <mat-icon *ngIf="detailedView" (click)="goBackNoSave()" class="arrowBack" fontIcon="arrow_back"></mat-icon>
        <button (click)="showMenu()" class="menuBtn orangeBG">
            Menu
        </button>
        <button *ngIf="publishID==''" (click)="publish()" class="checkBtn orangeBG">
            Publish
        </button>
        <button *ngIf="publishID!==''" (click)="uploadChanges()" class="checkBtn orangeBG">
            Update
        </button>
    </mat-card>
</mat-card>
<mat-card class="menuCard" *ngIf="menuActive" @slideUpIn @slideDownOut>
    <div class="menuBtns">
        <mat-icon fontIcon="done" (click)="saveMenuChanges()"></mat-icon>
    </div>
    <div class="editMenuHead">
        <mat-card-title>
            Menu
        </mat-card-title>
        <button (click)="openAddDish()" class="addDishBtn orangeBG">
            Add dish
        </button>
    </div>
    <mat-card-content>
        <div *ngFor="let c of copyMenu; let i = index" class="dishCategory">
            <div class="categoryHeadArea">
                <h4>{{ c.categorykey }}</h4>
                <button class="extrasBtn orangeBG" (click)="openExtrasDialog(c , i)">
                    Customize Extras
                </button>
            </div>
            <div (click)="openDishEditor(i , j , d)" class="dish" *ngFor="let d of c.categoryItem; let j = index">
                <h2>
                    {{ d.dishName }}
                </h2>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-card class="addDishCard" *ngIf="addDishActive" @slideUpIn @slideDownOut>
    <div class="addDishHead">
        <mat-card-title>
            Add dish
        </mat-card-title>
        <mat-icon fontIcon="cancel" (click)="cancelAddDishes()"></mat-icon>
    </div>
    <div class="dishMask">
        <div class="dishAttribute">
            <input type="text" name="category" list="categoryList" [(ngModel)]="dishCategory"
                placeholder="e.g. Pizza, Pasta etc.">
            <datalist id="categoryList">
                <option *ngFor="let item of categoryList" value="{{ item }}">
            </datalist>
            <span class="label orange">Enter the food category</span>
        </div>
        <div class="dishAttribute">
            <input type="text" [(ngModel)]="dishName" placeholder="e.g. Pizza Margherita">
            <span class="label orange">Enter the dish's name</span>
        </div>
        <div class="priceAndPortion">
            <div *ngIf="!multiplePortions" class="labelAndInput" @slideRightIn @slideLeftOut>
              <div>
                <input type="number" [(ngModel)]="dishPrice" placeholder="e.g. 4.5">€
              </div>
              <span class="orange adjustSpan">Enter the dish's price</span>
            </div>
            <div *ngIf="multiplePortions" class="portionManager" @slideRightIn @slideLeftOut>
              <div class="marginR7">
                <input type="text" [(ngModel)]="portionTag" placeholder="e.g. Small, 400g or 26cm">
              </div>
              <span class="orange adjustSpan">Enter the portion-size</span>
              <div>
                <input type="number" [(ngModel)]="portionPrice" placeholder="e.g. 4.5">€
              </div>
              <span class="orange adjustSpan">Enter the portion's price</span>
              <button (click)="addPortion()" class="orangeBG marginR7">
                <mat-icon>done</mat-icon>
              </button>
              <div class="allPortions">
                <div class="portion" *ngFor="let portion of allPortions ; let i = index">
                  <div>{{ portion.portionTag }}</div>
                  <div>{{ portion.portionPriceString }}</div>
                  <button (click)="deletePortion(i)" class="orangeBG">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="toggleContainer">
              <div (click)="togglePortion()" [ngClass]="{'activeToggleBar' : multiplePortions}" class="toggleBar">
                <div [ngClass]="{'activeThumb' : multiplePortions}" class="toggleThumb">
                </div>
              </div>
              <span class="orange margin16">Use different portion-sizes</span>
            </div>
          </div>
        <div class="dishAttribute">
            <textarea type="text" [(ngModel)]="dishDescribtion" placeholder="e.g. Pizza with Salami and Peperoni"
                cols="30" rows="10"></textarea>
            <span class="orange adjustSpan">Enter the dish's describtion</span>
        </div>
    </div>
    <button class="createDishBtn orangeBG" (click)="addDish()">
        Create Dish
    </button>
</mat-card>