/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-x:hidden;
}

.orange {
    color: #f36805;
}

.orangeBG {
    color: white !important;
    background-color: #f36805 !important;
}

.greyBackground{
    background-color: rgba(0, 0, 0,0.6) !important;
}

.createExtras{
    background-color: blue;
}

.d-none{
    display: none
}

.marginR7{
    margin-right: 7px
}





/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "~@ng-select/ng-select/themes/material.theme.css";