:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;

    .headLine {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
        padding: 0px 50px;

        div {
            display: flex;
            align-items: center;
            gap: 5px;

            h2 {
                margin-bottom: 0;
            }

            button {
                right: 27px;
                cursor: pointer;
                margin-top: unset !important;
            }
        }
    }

    @media (max-width:500px) {
        .headLine {
            align-items: flex-start;
            padding: 0;

            div {
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
            }
        }
    }

    .dishMask {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 10px;
        justify-content: space-around;
        padding-left: 8px;
        padding-right: 8px;
        width: 100%;


        .dishAttribute {
            display: flex;
            flex-direction: column;

            .addPortionBtn {
                height: 45px;
                padding: 0 10px;
                border: none;
                border-radius: 8px;
            }

            #categorylist {
                width: 100%;

                option {
                    width: 100%;
                }
            }

            div {
                display: flex;
                align-items: center;
            }

            .label {
                text-align: right;
            }

            .adjustSpan {
                padding-right: 8px;
                text-align: right;
            }


            input {
                text-align: right;
                padding-right: 3px;
                width: 300px;
                outline: none;
                border-radius: 8px;
                height: 45px;
                cursor: pointer;
                border: 1px solid rgba(126, 126, 126, 0.8);

                &:hover {
                    background-color: rgba(126, 126, 126, 0.1);
                }
            }


            textarea {
                text-align: left;
                padding-right: 3px;
                padding-left: 3px;
                width: 600px;
                outline: none;
                border-radius: 8px;
                height: 150px;
                cursor: pointer;

                &:hover {
                    background-color: rgba(126, 126, 126, 0.1);
                }
            }


        }

        @media(max-width :760px) {
            .dishAttribute {
                width: 100%;

                input,
                textarea {
                    width: 100%;
                }
            }
        }

        .priceAndPortion {
            display: flex;
            align-items: center;
            gap: 25px;

            .portionManager {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                div {
                    display: flex;
                    align-items: center;
                }

                button {
                    height: 30px;
                    width: 30px;
                    border: none;
                    border-radius: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    mat-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                .allPortions {
                    display: flex;
                    flex-direction: column;
                    padding-top: 25px;
                    padding-right: 7px;

                    .portion {
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        button {
                            width: 24px;
                            height: 24px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: none;
                            border-radius: 8px;

                            mat-icon {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

            @media(max-width : 760px) {
                .portionManager {
                    width: 100%;

                    div {
                        width: 100%;

                        input {
                            width: calc(100% - 7px);
                        }
                    }

                    .marginR7 {
                        margin: 0;
                        width: 100%;

                        input {
                            width: 100%;
                        }
                    }
                }
            }

            .labelAndInput {
                display: flex;
                flex-direction: column;

                div {
                    display: flex;
                    align-items: center;
                }

                button {
                    height: 30px;
                    width: 30px;
                    border: none;
                    border-radius: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    mat-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }



            .label {
                text-align: right;
            }

            .adjustSpan {
                padding-right: 8px;
                text-align: right;
            }

            input {
                text-align: right;
                padding-right: 3px;
                width: 300px;
                outline: none;
                border-radius: 8px;
                height: 45px;
                cursor: pointer;
                border: 1px solid rgba(126, 126, 126, 0.8);

                &:hover {
                    background-color: rgba(126, 126, 126, 0.1);
                }
            }



            .toggleContainer {
                display: flex;
                align-items: center;
                gap: 5px;

                .margin16 {
                    margin-bottom: 16px;
                }

                .toggleBar {
                    position: relative;
                    background-color: rgba(126, 126, 126, 0.1);
                    height: 25px;
                    width: 75px;
                    border-radius: 13px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 16px;
                    cursor: pointer;
                    transition: all 500ms ease-in-out;

                    .toggleThumb {
                        position: absolute;
                        background-color: rgba(126, 126, 126, 0.5);
                        height: 22px;
                        width: 22px;
                        border-radius: 100%;
                        left: 2px;
                        transition: all 500ms ease-in-out;
                    }

                    .activeThumb {
                        background-color: white !important;
                        right: 2px !important;
                        left: unset !important;
                    }
                }

                .activeToggleBar {
                    background-color: #f36805 !important;
                }
            }
        }

        @media(max-width :760px) {
            .priceAndPortion {
                width: 100%;

                .labelAndInput {
                    width: 100%;

                    div {
                        input {
                            width: calc(100% - 7px);
                        }
                    }
                }
            }
        }

        @media (max-width : 440px) {
            .priceAndPortion {
                width: 100%;

                .labelAndInput {
                    width: 100%;

                    input {
                        width: 100%;
                    }
                }

                .portionManager {
                    width: 100%;

                    div {
                        width: 100%;

                        input {
                            width: 100%;
                        }
                    }
                }
            }
        }

        @media(max-width : 670px) {
            .priceAndPortion {
                flex-direction: column;
            }
        }
    }

    .createDishBtn {
        height: 45px;
        width: 100px;
        border-radius: 8px;
        border: none;
        margin-top: 25px;
    }

    .createdDishes {
        width: 95%;

        mat-card {
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            justify-content: flex-start;
            margin-top: 15px;

            .dishCategory {
                display: flex;
                flex-direction: column;
                gap: 8px;

                .categoryHeadArea {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    h4 {
                        margin-bottom: 0;
                        padding-left: 8px;
                    }

                    .extrasBtn {
                        height: 45px;
                        padding: 5px 15px;
                        border-radius: 8px;
                        border: none;
                    }
                }

                .dish {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    cursor: pointer;

                    h2 {
                        padding-left: 8px;
                        margin: 0;
                        margin-bottom: 0 !important;
                    }

                    &:hover {
                        background-color: rgba(126, 126, 126, 0.1);
                    }
                }
            }
        }
    }
}